html, body {
    margin: 0;
    padding: 5;
}

h1 {
    color: rgb(55, 19, 141);
    font-family: "Courier New";
    background-color: mediumvioletred;
}

p {
    color: lime;
    font-size: 30;
    font-family: cursive;
}

li {
    color: rgb(172, 255, 244);
    font-family: Verdana;
    font-size: 25;
}

#ourselves, #government {
    background-color: rgb(143, 16, 16);
}

#source {
    color: rgb(159, 159, 238);
}

#link {
    background-color: burlywood;
}